.contentC {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 3.25rem;

  .greetingC {
    width: calc(100% - 8rem);
    padding: 0 4rem;
    font-weight: bold;
    > div:first-child {
      font-size: 1.5em;
      color: #11142d;
      > span {
        text-transform: uppercase;
      }
    }
    > div:last-child {
      font-size: 3em;
      text-transform: capitalize;
    }
  }
  .cardC {
      width: 100%;
    .cardBack {
      width: 21.9em;
    //   width: 350px;
    // width: 50%;
    margin: 0 auto;
    //   height: 420px;
    height: 26.25em;
      border-radius: 24px;
      background-color: #6c5dd3;
    }
  }
  .controllersC {
    font-size: 0.875em;
    background-color: #1b1d21;
    color: white;
    padding: 1.125em 6.33em;
    border-radius: 1rem;
  }
  
}

@media screen and (max-width: 900px) {
    .contentC {
        font-size: 14px;
    }
}
